@* @page "/login";
@using Employee_Manager_Client.Services
@using Employee_Manager_Models.CustomModels
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ApiService apiService;
@inject ProtectedSessionStorage sessionStorage;
@inject NavigationManager navManager;

<div class="formBox">
    <div class="formContainer">
        <div class="form-inputBoxes">
            <h1>Admin Panel</h1>
            <div>
                @if (IsSuccessful)
                {
                    <div class="alert alert-success" role="alert">@message</div>
                }
                @if (IsUnsuccessful)
                {
                    <div class="alert alert-danger" role="alert">@message</div>
                }
            </div>
            @if (loginModel != null)
            {
                <EditForm Model="@loginModel" OnValidSubmit="Login_Click">

                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <InputText type="email" class="form-control mb-3"
                                   id="emailID" aria-describedby="emailHelp"
                                   placeholder="Email" @bind-Value="loginModel.Email">
                        </InputText>
                        <ValidationMessage For="@(() => loginModel.Email)" />
                    </div>

                    <div class="mb-3">
                        <InputText type="password" class="form-control mb-3"
                                   id="exampleInputPassword1" placeholder="Password" @bind-Value="loginModel.Password">
                        </InputText>
                        <ValidationMessage For="@(() => loginModel.Password)" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 loginBtn">Login</button>

                    <br />
                    <span class="registerTag">Don't have a account?<a href="register">&nbsp;Regiser</a></span>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public EventCallback notify { get; set; }

    public bool IsSuccessful { get; set; } = false;
    public bool IsUnsuccessful { get; set; } = false;

    public LoginModel? loginModel { get; set; }
    public string? message { get; set; }

    protected override Task OnInitializedAsync()
    {
        loginModel = new LoginModel();
        return base.OnInitializedAsync();
    }

    private async Task Login_Click()
    {
        var response = await apiService.Login(loginModel);
        if (response.Status == true)
        {
            IsSuccessful = true;
            IsUnsuccessful = false;
            var user_response = response.Message.Split("|");
            await sessionStorage.SetAsync("adminKey", user_response[0]);
            await sessionStorage.SetAsync("adminName", user_response[1]);
            await sessionStorage.SetAsync("adminEmail", user_response[2]);

            message = "Login Successful";

            await notify.InvokeAsync();
            Thread.Sleep(3000);
            navManager.NavigateTo("/", true);
        }
        else
        {
            IsSuccessful = false;
            IsUnsuccessful = true;
            message = response.Message;
        }


    }
}
 *@